
.modal {
  position:fixed;
  width:100%;
  bottom: 0;
  left: 0;
  height:100%;
  background:rgba(0, 0, 0, .3);
  z-index:10000;
}
.modal-mask {
  position:fixed;
  left:0;
  bottom:0;
  width: 100%;
  height: 190px;
  background: #fff;
  z-index: 10007;
}
.modal-cover {
  position: absolute;
  z-index: 10000;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  background: rgba(0, 0, 0, .7);
}
.modal-header {
  text-align: center;
  width:100%;
  line-height:48px;
  height:60px;
  font-size: 14px;
  position: relative;
}

.close {
  position: absolute;
  line-height: 44px;
  right:15px;
  top:0;
  color:#337bea;
  font-size:12px
}
.modal-body {
  height: 162px;
  overflow:hidden;
  position:relative;
  display:flex;
  .box {
    flex:1;
    position:relative;
  }
  dl {
    position:absolute;
    z-index: 10003;
    width:100%;
  }
  dd {
    height: 40px;
    text-align:center;
    font-size:14px;
    line-height: 40px;
    color:#9d9d9d;
  }
  dd.active {
    color:#444
  }
  .borders {
    color:#444;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:38px;
    z-index: 10002;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6
  }
  
}

.value {
  width:100%;
  height:10px
}

.modal-hide {
  height: 0;
  overflow: hidden
}